<nav class="navbar">
  <div class="navbar__container">
    <a class="navbar__brand" routerLink="/">Application de Gestion d'Utilisateurs</a>
    <ul class="navbar__nav" >
      <li class="navbar__nav-item">
        <a class="navbar__nav-link" routerLink="/users" routerLinkActive="active">Utilisateurs</a>
      </li>
      <li class="navbar__nav-item">
        <a class="navbar__nav-link" routerLink="/add-user" routerLinkActive="active">Ajouter Utilisateur</a>
      </li>
    </ul>
  </div>
</nav>

  
