<app-header></app-header>
<div class="container">
    <div class="jumbotron mt-5">
      <h1 class="display-4">Bienvenue à l'Application de Gestion d'Utilisateurs</h1>
      <p class="lead">Cette application vous permet de gérer les utilisateurs, leurs rôles et leurs permissions.</p>
      <hr class="my-4">
      <p>Utilisez les boutons ci-dessous pour naviguer dans l'application.</p>
      <a class="btn btn-primary btn-lg" routerLink="/users" role="button">Liste des Utilisateurs</a>
      <a class="btn btn-success btn-lg" routerLink="/add-user" role="button">Ajouter un Utilisateur</a>
    </div>
  </div>
  
