
<app-header></app-header>

@if (user){
    <div class="user-details" >
        <h2 class="user-details__title">Détails de l'utilisateur</h2>
        <div class="user-details__content">
          <p class="user-details__item"><span class="user-details__label">Nom:</span> {{ user.nom }}</p>
          <p class="user-details__item"><span class="user-details__label">Prénom:</span> {{ user.prenom }}</p>
          <p class="user-details__item"><span class="user-details__label">Date de Naissance:</span> {{ user.dateNaissance | date }}</p>
          <p class="user-details__item"><span class="user-details__label">Téléphone:</span> {{ user.telephone }}</p>
          @if (currentUserRole==='admin' && user.role!=='admin'){
            <p class="user-details__item"><span class="user-details__label">Email:</span> {{ user.email }}</p>
          }
          <p class="user-details__item"><span class="user-details__label">Role:</span> {{ user.role }}</p>
        </div>
        @if (currentUserRole==='admin' && user.role!=='admin') {
            <div class="user-details__actions">
                <button class="user-details__button user-details__button--edit"  (click)="editRoles() ">Modifier les rôles</button>
                <button class="user-details__button user-details__button--edit" (click)="editUser()">Modifier</button>
                <button class="user-details__button user-details__button--delete" (click)="deleteUser()">Supprimer</button>
              </div>
        }
        
      </div>
      
}

