<app-header></app-header>
<div class="user-list">
    <h2 class="user-list__title">Liste des Utilisateurs</h2>
    <table class="user-list__table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track user.id){
        <tr >
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>
                <a class="user-list__user-link" [routerLink]="['/user', user.id]">Détails</a>
            </td>
            <td> <button class="user-list__update-button" [routerLink]="['/edit-user', user.id]" >Modifier</button></td>
            <td> <button class="user-list__delete-button" (click)="deleteUser(user.id)"  >Supprimer</button></td>
            
        </tr>
        }
        
      </tbody>
    </table>
    
  </div>
  


